	/* <link rel="stylesheet" href="./css/recruit_1.css"> */

table {
	width:1000px;
	border-collapse:separate;
    border: solid white 1px;
    border-radius:10px;
    border-width:2px;
    margin-left:auto; 
    margin-right:auto;
}

th, td {
	border-collapse: collapse;
	text-align : center;
	padding : 10px;
}
th {
	background-color: #CBE5EF;
}
td {
	background-color: white;
}
h1 {
	text-align:center;
}
h2 {
	font-size: 40px;
}
h3 {
	text-align:left;
}
img {
	margin-left:auto; 
    margin-right:auto;
}
body {
	background-color: #F8F6F0;
}
button {
   	margin: 10px;
   	cursor:pointer;
}
input {
	text-align:center;
}
textarea {
	text-align:center;
}
.xyz { 
	caption-side: bottom; 
	text-align:right;
}
.w-btn {
	position: relative;
	border: solid gray 0px;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 15px;
	font-family: "paybooc-Light", sans-serif;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	font-weight: 600;
	transition: 0.25s;
}
.w-btn-indigo {
	background-color: aliceblue;
	color: #1e6b7b;
}
.w-btn-blue {
	background-color: #6aafe6;
	color: #d4dfe6;
}
.w-btn-gray {
	background-color: #a3a1a1;
	color: #e3dede;
}
.w-btn-indigo-outline:hover {
	color: #1e6b7b;
	background: aliceblue;
}